 <div class="image">
    <img src={{faker-fake "{{image.avatar}}"}}>
  </div>
<div class="content">
    <div class="header">{{guest}}</div>
</div>
<button {{action "removeGuest" index}}class="ui button">Remove</button>
